.paypalButton{
    height: 0%;
    width: 0%;

    position: absolute;
    top: 20%;
    right: 15%;
}

.paypalButtonHide{
    height: 0%;
    width: 0%;

    visibility: hidden;
    position: absolute;
    top: 20%;
    right: 15%;
}