<div *ngIf='userInfo&&userInfo.role==="[ROLE_ADMIN]"' style="text-align:center">
    <h2>Choose category</h2>

    <div>
        <button (click)='getFoodByTypeBreakfast()' [ngClass]="'margin'">Breakfast</button>
        <button (click)='getFoodByTypeDinner()' [ngClass]="'margin'">Dinner</button>
        <button (click)='getFoodByTypeSupper()' [ngClass]="'margin'">Supper</button>
    </div>

    <div>
        <h3>Products</h3>
        <ng-container *ngFor='let food of foods'>
            <li>
                name: {{food.name}} |
                price: {{food.price}} |
                status: {{food.status}} |
                <button *ngIf='food.status==="dostepny"' (click)='updateFood(food)'>Update</button>
                <button (click)='deleteFood(food)'>Delete</button>
            </li>
        </ng-container>
    </div>

    <div [ngClass]="'createPannel'">
        <h4>Create product</h4>

        <div>
            <div>
                Select type:
                <button [ngClass]="'marginBottom'" (click)='setFoodTypeForCreate("breakfast")'>Breakfast</button>
                <button [ngClass]="'marginBottom'" (click)='setFoodTypeForCreate("dinner")'>Dinner</button>
                <button [ngClass]="'marginBottom'" (click)='setFoodTypeForCreate("supper")'>Supper</button><br>
                Type:
                <input [ngClass]="'marginBottom'" [(ngModel)]='createTypeInput' [readonly]='true'><br>
                Name:
                <input [ngClass]="'marginBottom'" [(ngModel)]='createNameInput'><br>
                Price:
                <input [ngClass]="'leftSidePrice'" [(ngModel)]='createLeftSidePriceInput' type="number"> zł
                <input [ngClass]="'rightSidePrice'" [(ngModel)]='createRightSidePriceInput' type="number"> gr
            </div><br><br>
            <button (click)='backForCreate()' [ngClass]="'backSave'">Clear</button>
            <button (click)='saveForCreate()'>Create</button>
        </div>
    </div>

    <div *ngIf='showUpdatePannel' [ngClass]="'updatePannel'">
        <h4>Update product</h4>

        <div>
            <div>
                Select type:
                <button [ngClass]="'marginBottom'" (click)='setFoodType("breakfast")'>Breakfast</button>
                <button [ngClass]="'marginBottom'" (click)='setFoodType("dinner")'>Dinner</button>
                <button [ngClass]="'marginBottom'" (click)='setFoodType("supper")'>Supper</button><br>
                Type:
                <input [ngClass]="'marginBottom'" [(ngModel)]='updateTypeInput' [readonly]='true'><br>
                Name:
                <input [ngClass]="'marginBottom'" [(ngModel)]='updateNameInput'><br>
                Price:
                <input [ngClass]="'leftSidePrice'" [(ngModel)]='updateLeftSidePriceInput' type="number"> zł
                <input [ngClass]="'rightSidePrice'" [(ngModel)]='updateRightSidePriceInput' type="number"> gr
            </div><br><br>
            <button (click)='back()' [ngClass]="'backSave'">Back</button>
            <button (click)='methodSaveAndGetFoodByType(updateTypeInput)'>Save</button>
        </div>
    </div>

</div>

<div *ngIf='userInfo&&userInfo.role!=="[ROLE_ADMIN]"'>
    <br><h3>You don't have access to this pannel !</h3>
</div>

<div *ngIf='!userInfo'>
    <h2>Admin page</h2>
    <h3>Sign in to use the application.</h3>
</div>