<div *ngIf='userInfo' style="text-align:center">
    <h2>Shopping done</h2>

    <div *ngIf='shoppingHistory'>
        <ng-container *ngFor='let history of shoppingHistory'>
            <li>
                <b>bought food:</b> {{history.food}} |
                <b>total price:</b> {{history.price}} |
                <button (click)='deleteFromHistory(history)'>delete</button>
            </li> 
        </ng-container>
    </div>
</div>

<div *ngIf='!userInfo'>
    <h2>Shopping done page</h2>
    <h3>Sign in to use the application.</h3>
</div>