<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Restaurant
    </h1>
</div>
<div style="text-align:center">
    <a routerLink="/login" routerLinkActive="active">Sign in</a>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/food" routerLinkActive="active">Buy Food</a>
    <a routerLink="/shopping-cart" routerLinkActive="active">Shopping Cart</a>
    <a routerLink="/admin" routerLinkActive="active">Admin pannel</a>
    <a routerLink="/logout" routerLinkActive="active">Sign out</a>
</div>
<router-outlet></router-outlet>