<!--The content below is only a placeholder and can be replaced.-->

<body>
    <div style="text-align:center">
        <h1>
            Restaurant
        </h1>
    </div>
    <div style="text-align:center">
        <a routerLink="/login" routerLinkActive="active" [ngClass]="'margin'">Sign in</a>
        <a routerLink="/home" routerLinkActive="active" [ngClass]="'margin'">Home</a>
        <a routerLink="/food" routerLinkActive="active" [ngClass]="'margin'">Food</a>
        <a routerLink="/shopping-cart" routerLinkActive="active" [ngClass]="'margin'">Shopping Cart</a>
        <a routerLink="/shopping-done" routerLinkActive="active" [ngClass]="'margin'">Shopping done</a>
        <a routerLink="/admin" routerLinkActive="active" [ngClass]="'margin'">Admin pannel</a>
        <a routerLink="/logout" routerLinkActive="active" [ngClass]="'margin'">Sign out</a>
    </div>
    <router-outlet></router-outlet>
</body>