<div style="text-align:center">
    <h2>Shopping cart</h2>

    <div>
        <h3>Products to buy</h3>
        <ng-container *ngFor='let food of foods'>
                <li>
                    type: {{food.type}} | 
                    name: {{food.name}} | 
                    price: {{food.price}} | 
                    status: {{food.status}} | 
                    <button (click)='removeFoodFromShoppingCart(food)'>Remove</button>
                </li>
        </ng-container>
        <h4 *ngIf='price'>Total price: {{price}}</h4>
    </div>

    <app-paypal></app-paypal>
</div>