<div *ngIf='userInfo' style="text-align:center">
    <h2>Shopping cart</h2>

    <div>
        <ng-container *ngFor='let food of foods'>
                <li>
                    type: {{food.type}} | 
                    name: {{food.name}} | 
                    price: {{food.price}} |
                    <button (click)='removeFoodFromShoppingCart(food)'>Remove</button>
                </li>
        </ng-container>
        <h4>Total price: {{price}}</h4>
        <!-- <button (click)='subtractTwoNumbers("1.00","0.02")'>Calculate subtract!</button> -->
    </div>

    <app-paypal></app-paypal>
</div>

<div *ngIf='!userInfo'>
    <h2>Shopping cart page</h2>
    <h3>Sign in to use the application.</h3>
</div>